@font-face {
    font-family: stark;
    src: url(Fonts/Stark.otf);
}
@font-face {
    font-family: magra;
    src: url(Fonts/Magra-Regular.ttf);
}
@font-face {
    font-family: arvo;
    src: url(Fonts/Arvo.ttf);
}
body {
    background-image:url(Images/P05.TechBack.png), url(Images/P04.LinesBack.png);
    background-repeat:no-repeat, repeat;
    background-position:center, 0% 0%;
    background-attachment:fixed, fixed;
    font-family:stark;
}
a {
    text-decoration:none;
    color:inherit;
}
#header {
    margin-top:-1em;
    margin-left:-.55em;
    margin-right:0em;
    height: 3.5em;
    width: 90.1em;
    position:absolute;
    overflow:hidden;
    z-index: 100;
    background-color:lightgray;
    opacity:.8;
}

.headerLeft {
    margin-top:.3em;
    float: left;
    width:20em;
    height:3.5em;
    margin-left:12.6em;
}
#industries {
    width:72%;
    cursor:pointer;
}
#industries:hover {
    opacity:.7;
}
.headerRight {
    margin-top:.3em;
    float: left;
    width:36em;
    height:3.5em;
    margin-left:5em;
}
.clicky {
    margin-left: 1.5em;
    margin-right: auto;
    text-align:center;
    margin-top:.4em;
    font-size:1.4em;
    border-radius:.5em;
    background-color:lightgray;
    border:lightgray;
    color:black;
    font-family: arvo;
    cursor:pointer;
}
.clicky:hover {
    opacity:.7;
}
#main {
    background-color:white;
    height:auto;
    width:62em;
    margin-top:3em;
    position:absolute;
    margin-left:13.775em;
    margin-bottom:1em;
    border: solid blue 1px;
}
.galleryImages {
    width:70%;
    height:70%;
    margin-left:9.3em;
}
.title{
    font-family:arvo;
}

#asdf{
    height:50em;
}

#socialMedia {
    margin-left:auto;
    margin-right:auto;
    width:16em;
}
.socialButtons {
    width:2em;
    height:2em;
    margin-left:.5em;
    margin-right:.5em;
}
.socialButtons:hover {
    opacity: .7;
}
.footer {
    text-align:center;
}
.subFoot {
    color:gray;
    font-size:.7em;
    display: inline-block;
    margin-left:.5em;
    margin-right:.5em;
}
.subFoot:hover {
    color:black;
    cursor:pointer;
}
#copyright {
    font-family:arvo;
}