@font-face {
    font-family: stark;
    src: url(Fonts/Stark.otf);
}
@font-face {
    font-family: magra;
    src: url(Fonts/Magra-Regular.ttf);
}
@font-face {
    font-family: arvo;
    src: url(Fonts/Arvo.ttf);
}
body {
    background-image:url(Images/P05.TechBack.png), url(Images/P04.LinesBack.png);
    background-repeat:no-repeat, repeat;
    background-position:center, 0% 0%;
    background-attachment:fixed, fixed;
    font-family:stark;
}
a {
    text-decoration:none;
    color:inherit;
}
#header {
    margin-top:-.6em;
    margin-left:-.55em;
    height:3em;
    width:100.05%;
    position:fixed;
    background-color:lightgray;
    opacity:.8;
    z-index:2;
}
#subHeader {
    width:64em;
    height:3em;
    margin-left:auto;
    margin-right:auto;
    background-color:lightgray;
    overflow:hidden;
    position:relative;
}
#headerLeft {
    float:left;
    width:20em;
    height:3em;
    margin-left:1em;
    margin-right:auto;
    position:relative;
    z-index:1;
    text-align:center;
}
#industries {
    width:17em;
    margin-top:.02em;
    cursor:pointer;
}
#headerRight {
    width:42em;
    height:3em;
    float:left;
    margin-left:0em;
}
.clicky {
    text-align:center;
    margin-top:.4em;
    font-size:1.4em;
    background-color:transparent;
    border:none;
    color:black;
    font-family:arvo;
    cursor:pointer;
    margin-left:2em;
    margin-right:1em;
}
.clicky:hover {
    opacity:.7;
}
#bubble {
    background-color:transparent;
    height:auto;
    width:62em;
    margin-top:2.75em;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    bottom:1em;
}
.galleryImages {
    width:70%;
    height:70%;
    margin-left:9.3em;
}
.title{
    font-family:arvo;
}

#asdf{
    height:50em;
}

#footerMain{
    color:black;
    height:auto;
    width:100%;
    background-color:white;
    float:right;
    margin-right:0em;
    margin-top:-.2em;
}
#socialMedia {
    margin-left:auto;
    margin-right:auto;
    width:16em;
}
.socialButtons {
    width:2em;
    height:2em;
    margin-left:.5em;
    margin-right:.5em;
}
.socialButtons:hover {
    opacity: .8;
}
.footer {
    text-align:center;
}
.subFoot {
    color:gray;
    font-size:.7em;
    display: inline-block;
    margin-left:.5em;
    margin-right:.5em;
}
.subFoot:hover {
    color:black;
    cursor:pointer;
}
#copyright {
    margin-bottom:.5em;
    font-family:arvo;
}